<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload images</title>
</head>
<body>
    <div id="root">
        <h1>Upload Images</h1>
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" name="images" id="images" multiple accept="image/*">
            <button type="submit">Upload</button>
        </form>
        <div id="preview"></div>
        <div id="progress"></div>
    </div>

    <script type="module" src="../scripts/imagesScript.js"></script>
</body>
</html>